@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Sans:wght@100;300;400;500;600;700&display=swap");
:root {
  --primary: #151111;
  --secondary: #1d150b;

  --secondary-light: #c49b63;
  --yellow: #f8b500;
  --white: #fff;
  --black: #000;
  --gray: rgb(175, 174, 174);
  --red: rgb(190, 24, 24);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Josefin-Sans", sans-serif;
  background: url(/images/main_background.jpg) no-repeat fixed;

  background-size: cover;
  color: var(--white);
  /* text-align: center; */
}

section {
  padding: 6rem 2rem;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/
.flex,
.flex-column {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-column {
  flex-direction: column;
}
button {
  display: inline-block;
  text-decoration: none;
  background: none;

  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}
.title {
  font-size: 2rem;
  margin-bottom: 3rem;
  margin-top: -10px;
  text-transform: uppercase;
  text-align: center;
}
.before-title {
  font-family: "Great Vibes", cursive;
  color: var(--secondary-light);
  font-size: 2rem;
}
.logo {
  font-size: 1.5rem;
  font-family: "Great Vibes", cursive;
  /* text-transform: uppercase; */
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.scroll-right {
  transform: translateX(400%);
  transition: all 0.4s ease;
}
.scroll-left {
  transform: translateX(-400%);
  transition: all 0.4s ease;
}
.scroll-right.show,
.scroll-left.show {
  transform: translateX(0);
}
/**************************/
/*  header */
/**************************/
.nav {
  justify-content: space-between;
  background: var(--primary);
  color: var(--white);
  padding: 1rem 2rem;
  position: relative;
}
.nav.sticky {
  position: fixed;
}

.nav a {
  color: var(--white);
  transition: all 0.3s;
}
.nav a:hover {
  color: var(--secondary-light);
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.2rem;
  text-transform: capitalize;
}
a.nav-links-book {
  background: var(--secondary-light);
  color: var(--primary);
  border-radius: 5px;
  /* height: 100%; */
  padding: 0.5rem;
}
a.nav-links-book:hover {
  background: var(--white);
}
.bi {
  font-size: 27px;
  cursor: pointer;
  transition: all 0.3s;
}
.bi-cart4:hover,
.bi-list:hover {
  color: var(--secondary-light);
}
.bi-cart4 {
  margin-right: 1rem;
  position: relative;
}
.nav-icons-cartnum {
  font-size: 1rem;
  position: absolute;
  top: -7px;
  right: -7px;
  background: var(--yellow);
  border-radius: 50%;
  padding: 4px;
  width: 24px;
  height: 24px;
}
.bi-list {
  display: none;
}
/* .nav-mobile {
  position: absolute;
  background: var(--primary);
  color: var(--white);
  gap: 1.5rem;
  width: 250px;
  right: 0;
  padding: 2rem 1rem;
  display: none;
}
.nav-mobile a {
  color: var(--white);
  font-size: 1.5rem;
  text-transform: uppercase;
  transition: all 0.3s;

}
.nav-mobile a:hover {
  color: var(--secondary-light);
}
.nav-mobile.flex {
  display: flex;
} */
/**************************/
/*  home */
/**************************/
.home {
  text-align: center;
  flex-direction: column;
  background-image: radial-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.308)),
    url(/images/c.jpg);
  /* background: url(/images/back.png); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 92vh;
}
.home-text {
  max-width: 800px;
  font-size: 1.4rem;
  line-height: 1.3;
}

.home-btns {
  gap: 1rem;
  margin-top: 4rem;
}
.btn-color,
.btn-white {
  font-size: 1rem;
  padding: 1rem;
  transition: all 0.3s;
}
.btn-color:hover,
.btn-white {
  color: var(--white);
  border: solid 1px var(--white);
}
.btn-color:hover {
  background: none;
}
.btn-color,
.btn-white:hover {
  background: var(--secondary-light);
  color: var(--primary);
  border: 1px solid transparent;
}
.home-circles {
  margin-top: 2rem;
  gap: 5px;
}
.home-circles div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 1px var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-circles div span {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--white);
  /* display: none; */
}

/**************************/
/*  about */
/**************************/
.about {
  flex-direction: column;
}
.about-content {
  /* flex-direction: column; */
  gap: 2rem;
  color: var(--gray);
}

.about-content img {
  width: 20rem;
}
.about-text {
  max-width: 800px;
  font-size: 1.2rem;
  line-height: 1.2;
}
/**************************/
/*  services */
/**************************/
.services {
  background: var(--secondary-light);
}
.services .before-title {
  color: var(--black);
}
.services-items {
  gap: 1rem;
}
.services-item {
  color: var(--black);
  text-align: center;
}
.services-item .bi {
  font-size: 40px;
  border: var(--black) solid 1px;
  padding: 1rem;
  margin-bottom: 2rem;
}
.services-item .bi:hover {
  transform: scale(1.1);
  color: var(--secondary-light);
  background: var(--black);
}
.services-item h5 {
  letter-spacing: 1.5px;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.services-item p {
  letter-spacing: 1.1px;
  font-size: 1rem;
  color: var(--secondary);
  line-height: 1.5;
}
/**************************/
/*  discover */
/**************************/
.discover {
  gap: 1rem;
}
.discover-text {
  margin-bottom: 2rem;
  color: var(--gray);
}
.discover-imgs {
  gap: 1rem;
  flex-wrap: wrap;
  max-width: 440px;
}
.discover-imgs img {
  width: 200px;
  height: 200px;
  transition: all 0.3s;
}
.discover-imgs img:hover {
  transform: scale(1.1);
}
.discover-contents a {
  color: var(--secondary-light);
  border-color: var(--secondary-light);
  transition: all 0.3s;
}
.discover-contents a:hover {
  color: var(--black);
}
/**************************/
/*  rates */
/**************************/
.rates {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/menu-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  gap: 2rem;
  padding: 6rem 0;
  flex-wrap: wrap;
}
.rates-item {
  color: var(--secondary-light);
  padding-top: 1rem;
}
.rates-item .bi {
  font-size: 40px;
  position: relative;
}

.rates-item .bi::after {
  content: "";
  border: var(--secondary-light) solid 1px;
  width: 30px;
  height: 20px;
  padding: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}
.rates-item:hover .bi::after {
  /* background: var(--secondary-light); */

  /* transform: translateX(-50%) translateY(-50%) rotate(45deg); */
  animation: rotation 0.3s linear;
}
.rates-item h5 {
  text-align: center;
  font-size: 2rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.rates-item p {
  text-align: center;
  font-size: 1.2rem;
  color: var(--white);
  height: 30px;
}

@keyframes rotation {
  from {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) translateY(-50%) rotate(180deg);
  }
}
/**************************/
/*  menu */
/**************************/
.menu-items {
  flex-wrap: wrap;
  gap: 1rem;
}
.menu-item {
  gap: 1rem;
  height: 450px;
  width: 300px;
}
.menu-item img {
  width: 200px;
  height: 200px;
}
.menu-item h6 {
  font-size: 1.2rem;
  font-weight: 400;
}
.menu-item p {
  color: var(--gray);
  /* max-width: 200px; */

  line-height: 1.5;
  text-align: center;
}
.menu-items .menu-price {
  color: var(--white);
}
/**************************/
/*  testimonials */
/**************************/
.testimonials {
  background: var(--black);
}
.testimonials-container {
  border: var(--secondary-light) solid 1px;
  padding: 2rem;
  position: relative;
}
.testimonials button {
  font-size: 2.3rem;
}
.testimonials-container button {
  position: absolute;
  top: 65%;
  color: var(--secondary-light);
}
.testimonials-left {
  left: 20px;
}
.testimonials-right {
  right: 20px;
}
.slide > p {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 2rem;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonials-person {
  gap: 1rem;
}
.testimonials-person img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--secondary-light);
  padding: 2px;
}
.testimonials-person p {
  font-size: 1.2rem;
  text-transform: capitalize;
  color: var(--gray);
}

.slide {
  display: none;
}
.slide.active {
  display: block;
}
/**************************/
/*  book-table */
/**************************/
.order img {
  /* position: absolute; */
  width: 400px;
  height: 430px;
  object-fit: cover;
}
.order-container {
  gap: 2rem;
  margin-top: 3rem;
}
.form {
  gap: 1rem;
  align-items: flex-start;
}

.form-input {
  gap: 1rem;
  position: relative;
}

.form-input input {
  font-size: 1.2rem;
  padding: 0.5rem;
  width: 350px;
}
.success-icon,
.error-icon {
  position: absolute;
  right: -30px;
  font-size: 2rem;
  display: none;
}
/* -------for from validation js---- */
.form-input.error {
  margin-bottom: 8px;
}
.success-icon {
  color: var(--secondary-light);
}
.error-icon {
  color: var(--red);
}
.form-input.error-input {
  border: var(--red) solid 1px;
  padding: 3px;
}
.form-input.success-input {
  border: var(--secondary-light) solid 1px;
  padding: 3px;
}
/* --------- */
.form-input small {
  position: absolute;
  bottom: -15px;
  left: 64px;
  color: var(--red);
  /* display: none; */
}
.form button {
  width: 100%;
  margin-top: 2rem;
}
.form-succes {
  color: var(--white);
  align-self: center;
  text-align: center;

  /* padding: 0.5rem 1rem; */
  font-size: 1.1rem;
}
/**************************/
/*  footer */
/**************************/
footer {
  background: var(--primary);
  padding: 5rem 2rem;
}
.footer-items {
  /* justify-content: space-between; */
  gap: 8rem;
  align-items: flex-start;
  margin-bottom: 3rem;
}
.footer-item-about {
  color: var(--gray);
  max-width: 300px;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.footer-item {
  align-items: flex-start;
}
.footer-social {
  gap: 1rem;
}
.footer-social a {
  color: var(--secondary-light);
  transition: all 0.3s;
}
.footer-social a:hover {
  color: var(--white);
}
footer h6 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.footer-item ul {
  list-style: none;
  gap: 1rem;
  align-items: flex-start;
  color: var(--gray);
}
.footer-contact {
  align-items: flex-start;
  gap: 1rem;
}
.footer-contact a {
  gap: 1rem;
  color: var(--gray);
  max-width: 300px;
  transition: all 0.3s;
}
.footer-contact .bi {
  color: var(--secondary-light);
}
.footer-contact a:hover {
  color: var(--secondary-light);
}
/**************************/
/*  keyframes */
/**************************/
@-webkit-keyframes scale-up-hor-right {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
}
@keyframes scale-up-hor-right {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
}
