@media (max-width: 1600px) {
}
/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 1200px) {
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  section {
    padding: 3rem 2rem;
  }
  section h1 {
    margin-bottom: 2rem;
  }
  .about-text,
  .home-text {
    font-size: 1.2rem;
  }
  .home-btns {
    margin-top: 2rem;
  }
  .btn-color,
  .btn-white {
    font-size: 1rem;
    padding: 0.5rem;
  }
  .about-content img {
    width: 15rem;
  }
  .discover {
    flex-direction: column;
    gap: 2rem;
  }
  .discover-text {
    text-align: center;
  }
  .discover-imgs {
    max-width: 900px;
  }
  .discover-imgs img {
    width: 150px;
    height: 150px;
  }
  .slide > p {
    height: 100px;
  }
  .form-input input {
    max-width: 250px;
  }
  .order img {
    width: 300px;
  }
  .order-container {
    gap: 1rem;
  }
  .footer-items {
    gap: 4rem;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  /* .nav {
    position: relative;
  } */
  .bi-list {
    display: inline-block;
    position: relative;
  }
  .nav-links {
    display: none;
    position: absolute;
    top: 3.8rem;
    right: 0;
    background: var(--primary);
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    box-shadow: 0px 0px 7px 1px var(--secondary);
    height: 90vh;
    width: 20rem;
    border: solid 2px var(--secondary);
    transition: all 4s ease-out;
  }
  .nav-links.show {
    display: flex;
    -webkit-animation: scale-up-hor-right 0.4s
      cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: scale-up-hor-right 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }

  .nav-links a {
    font-size: 1.5rem;
  }

  .about-content {
    flex-direction: column;
  }
  .services-items {
    flex-direction: column;
    gap: 3rem;
  }
  .menu-item {
    height: 420px;
  }
  .rates-item {
    /* flex-direction: column; */
    width: 200px;
    margin-bottom: 2rem;
  }
  .testimonials-container {
    padding: 1.5rem 1rem;
  }
  .slide > p {
    height: 100px;
    font-size: 1rem;
    font-weight: 600;
  }
  .order img {
    display: none;
  }
  .form-input input {
    width: 400px;
  }
  .order-container {
    margin-top: 1rem;
  }
  .footer-items {
    flex-direction: column;
    margin-bottom: 5rem;
  }
}
/**************************/
/* BELOW 400px  */
/**************************/
@media (max-width: 430px) {
  section {
    padding: 2rem;
  }
  .nav-links {
    width: 80%;
  }
  .about-text,
  .home-text {
    font-size: 1rem;
  }
  .about-content img {
    width: 10rem;
  }
  .slide > p {
    height: 190px;
  }
  .testimonials-person {
    flex-direction: column;
  }
  .form-input {
    gap: 5px;
  }
  .form-input input {
    width: 100%;
  }
  .order {
    padding: 3rem 3px;
  }
}
